In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as splt
import seaborn

In [14]:
df=pd.read_csv('/content/sample_data/UCI_Credit_Card.csv')

In [15]:
df.head(4)

   ID  LIMIT_BAL  SEX  ...  PAY_AMT5  PAY_AMT6  default.payment.next.month
0   1    20000.0    2  ...       0.0       0.0                           1
1   2   120000.0    2  ...       0.0    2000.0                           1
2   3    90000.0    2  ...    1000.0    5000.0                           0
3   4    50000.0    2  ...    1069.0    1000.0                           0

[4 rows x 25 columns]

In [16]:
x=df.drop(['default.payment.next.month'],axis=1)

In [17]:
y=df['default.payment.next.month']

In [18]:
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [19]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=25,random_state=1)

In [20]:
xtrain.head(4)

          ID  LIMIT_BAL  SEX  EDUCATION  ...  PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
25592  25593   360000.0    2          2  ...    2973.0    2819.0    2468.0    2503.0
29621  29622    20000.0    1          3  ...    1200.0    1000.0    1400.0       0.0
21382  21383   290000.0    1          2  ...    1000.0    1497.0    1887.0    2277.0
25955  25956   150000.0    2          2  ...    1378.0    1560.0     128.0     239.0

[4 rows x 24 columns]

In [21]:
ytrain

25592    0
29621    0
21382    0
25955    0
23887    0
        ..
17289    1
5192     0
12172    0
235      0
29733    0
Name: default.payment.next.month, Length: 29975, dtype: int64

In [22]:
model=SVC(gamma='auto')

In [23]:
model.fit(xtrain,ytrain)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [24]:
model.score(xtest,ytest)

0.84